.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 50px;
  width: 20%;
  margin: 24px;
  background-color: #356FFF;
  border: none;
  border-radius: 16px;
  font-family: 'Avenir';
  font-size: 24px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

input {
  width: 80%;
  padding: 0 16px;
  font-size: 28px;
  border: none;
  text-align: center;
}

.generate-button {
  height: 50px;
  width: 60%;
  margin: 24px;
  background-color: #356FFF;
  border: none;
  border-radius: 16px;
  font-family: 'Avenir';
  font-size: 22px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.Code {
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.code-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

}

.copy {
  color: gray;
  margin: 8px;
}

.check {
  color: green;
  height: 24px;
  width: 24px;
}
